[data-source] {
    display: inline-block;
    cursor: pointer;
  }
  
  #iframespot{
  }
  
  #iframeselect {
    position: absolute;
    width: 120px;
    margin-left: -140px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.95;
  }
  
  
  #iframeselect li{
    width: 100%;
    padding: 1em;
    font-size: 12px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    transition: .3s background-color ease-in-out,
                .3s color ease-in-out;
  }
  
  #iframeselect li:hover{
    background-color: #ffffff;
    color: #ffffff;
  }
  
  #iframespot {
    background-color: #000000;
    position: relative;
    width: 675px;
    height: 390px;
  }
  
  #iframespot .message {
    text-align: center;
    padding-top: 110px;
    font-size: 70px;
    color: #ffffff;
  }

  